In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('stud.csv')

In [5]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [8]:
df.shape

(1000, 8)

In [11]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [13]:
df.duplicated().sum()

0

In [16]:
# Check Null and Dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [20]:
df['gender'].unique()

array(['female', 'male'], dtype=object)

In [21]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

In [22]:
df['total score'] = df['math_score'] + df['reading_score'] + df['writing_score']
df['average'] = df['total score']/3

In [23]:
reading_full = df[df['reading_score'] == 100]['average'].count()
writing_full = df[df['writing_score'] == 100]['average'].count()
math_full = df[df['math_score'] == 100]['average'].count()

print(f'Number of students with full marks in Maths: {math_full}')
print(f'Number of students with full marks in Writing: {writing_full}')
print(f'Number of students with full marks in Reading: {reading_full}')

Number of students with full marks in Maths: 7
Number of students with full marks in Writing: 14
Number of students with full marks in Reading: 17

In [33]:
reading_full = df[df['reading_score'] == 100]['reading_score'].count()
writing_full = df[df['writing_score'] == 100]['writing_score'].count()
math_full = df[df['math_score'] == 100]['math_score'].count()

print(f'Number of students with full marks in Maths: {math_full}')
print(f'Number of students with full marks in Writing: {writing_full}')
print(f'Number of students with full marks in Reading: {reading_full}')

Number of students with full marks in Maths: 7
Number of students with full marks in Writing: 14
Number of students with full marks in Reading: 17

In [4]:
t= np.arange( 0,5*np.pi, 0.1)
t

array([ 0. ,  0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  0.7,  0.8,  0.9,  1. ,
        1.1,  1.2,  1.3,  1.4,  1.5,  1.6,  1.7,  1.8,  1.9,  2. ,  2.1,
        2.2,  2.3,  2.4,  2.5,  2.6,  2.7,  2.8,  2.9,  3. ,  3.1,  3.2,
        3.3,  3.4,  3.5,  3.6,  3.7,  3.8,  3.9,  4. ,  4.1,  4.2,  4.3,
        4.4,  4.5,  4.6,  4.7,  4.8,  4.9,  5. ,  5.1,  5.2,  5.3,  5.4,
        5.5,  5.6,  5.7,  5.8,  5.9,  6. ,  6.1,  6.2,  6.3,  6.4,  6.5,
        6.6,  6.7,  6.8,  6.9,  7. ,  7.1,  7.2,  7.3,  7.4,  7.5,  7.6,
        7.7,  7.8,  7.9,  8. ,  8.1,  8.2,  8.3,  8.4,  8.5,  8.6,  8.7,
        8.8,  8.9,  9. ,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6,  9.7,  9.8,
        9.9, 10. , 10.1, 10.2, 10.3, 10.4, 10.5, 10.6, 10.7, 10.8, 10.9,
       11. , 11.1, 11.2, 11.3, 11.4, 11.5, 11.6, 11.7, 11.8, 11.9, 12. ,
       12.1, 12.2, 12.3, 12.4, 12.5, 12.6, 12.7, 12.8, 12.9, 13. , 13.1,
       13.2, 13.3, 13.4, 13.5, 13.6, 13.7, 13.8, 13.9, 14. , 14.1, 14.2,
       14.3, 14.4, 14.5, 14.6, 14.7, 14.8, 14.9, 15. , 15.1, 15.2, 15.3,
       15.4, 15.5, 15.6, 15.7])

In [23]:
df.iloc[4 5 1 3 0 8 2 9 7 6]

SyntaxError: invalid syntax (3684395795.py, line 1)

In [62]:
u=np.array([3, 5, 5,6 ,6])
type(u)
u

array([3, 5, 5, 6, 6])

In [67]:
x=np.random.permutation(10)
type(x)
print(x)
x

[6 1 9 8 3 5 0 4 7 2]

array([6, 1, 9, 8, 3, 5, 0, 4, 7, 2])

In [54]:
def split(data, ratio):
    shuffled = np.random.permutation(len(data))
    test_set_size = int( len(data)* ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    
    train_set = data.iloc[train_indices]
    test_set = data.iloc[test_indices]

    return train_indices, test_indices

In [44]:
type(df)

pandas.core.frame.DataFrame

In [45]:
x_train,y_test = split(df, 0.2)

In [52]:
x_train

array([558, 682, 367,  50, 997, 424, 725, 839,   1, 457, 229, 605, 140,
       753, 450, 492, 303, 339, 663, 697, 509, 837, 967, 626, 329, 613,
       606,  36, 969,  63, 910, 742, 316, 751,  22, 352, 720, 599, 427,
       157, 429, 199, 575, 198, 693, 502, 445, 545, 111, 287, 920, 862,
       793, 368,   5, 803, 431, 534, 419, 278, 248, 136, 807, 348, 121,
       186, 702, 617, 637, 831, 206, 727, 914, 163, 881, 600, 440, 107,
       763, 937, 284, 452, 410, 397, 849, 459, 311,  45, 739, 203, 131,
       843, 116, 806, 123, 106, 337, 379, 585, 632,  41, 651, 103,  88,
       500, 676, 472, 137, 247, 817, 465,  60, 827, 342, 765, 628, 643,
       321, 295, 544, 829, 176, 811, 790, 587, 455, 201, 927, 959, 798,
       766, 756, 722, 808, 212, 721, 100, 731,  53, 571, 960, 944, 508,
       936, 543, 916, 302, 441,  99, 399, 863, 772, 428,  33, 211, 630,
       375, 541, 889, 326, 805, 883, 146, 372, 546, 293, 467, 418, 351,
       487, 495, 638, 900,  52, 698, 625, 815, 411, 597, 764, 950, 301,
       177, 555,  27, 391, 362, 610, 174, 360, 296,   6, 992, 505, 564,
       985, 677, 332, 239, 527, 364, 732, 856, 832, 675,   4, 668, 525,
       674, 135, 902, 909, 662, 799, 692, 804, 670,  61, 873, 789, 688,
       125, 193, 864,  81, 539, 715, 355, 181, 400,  62, 114, 565, 740,
       477, 879, 438, 338, 691, 684, 825, 414, 126, 328, 737, 878, 683,
       939, 614, 982, 665, 814, 941,  64, 705, 279, 917, 413, 876, 976,
       819, 189, 940, 274, 656, 169, 395, 272, 887, 932, 961, 619, 778,
       965, 359, 162, 382,  47, 897, 468, 991, 535, 402, 292, 945, 852,
       584, 476, 297,  68,  79, 542, 115,  74, 593, 436, 102, 681, 934,
       892, 949, 491, 998, 915,  31, 795,  55, 406, 776, 624, 180, 371,
        78, 345, 304, 580, 860, 528, 812,   7, 987, 695, 261, 216, 882,
       120, 769, 810, 830, 672, 898, 773, 448, 343, 267, 376, 521,  13,
       228, 886, 383, 757, 560, 970, 208, 859, 156,  86, 851, 701, 796,
       912, 964, 581, 896, 142, 962,  69, 816, 506, 205, 463, 713, 139,
        67, 262, 579, 595,  18, 232, 926, 241, 899, 220,  93, 404, 554,
       377, 999, 752,  58, 315, 908, 748, 794, 780,  42, 499, 185, 434,
       758, 784, 995, 257, 730, 833, 398,   9,  19, 532, 774, 481, 972,
       640, 494,  87, 426, 641, 432, 230, 648, 130,  16, 231, 741, 412,
       483, 523, 194, 167,  51, 298, 601, 393,  43, 184, 724, 280, 888,
       642, 978, 865, 906, 557, 396, 974, 449, 710, 918, 415, 893, 268,
       661, 791, 855, 215, 657, 353, 583, 237, 530, 767, 325, 386, 551,
       454, 129, 256, 801, 255, 966, 335, 520, 984, 460, 762, 968, 300,
        73, 478, 574, 666,  12, 333, 447, 473, 323, 621, 847, 590,  65,
       729, 234, 171, 938, 707, 191, 749, 975, 880, 556,  40,  15, 853,
       686, 540, 611, 349, 716, 192, 236, 645, 254, 946, 963, 636, 407,
        83, 356,  54, 760, 471, 250, 712,  96, 723, 313, 344, 711, 387,
       322, 526, 576, 401, 802, 488, 512, 925, 719, 290,  20, 823, 569,
       153, 706, 529, 519, 844, 320, 573, 559, 453, 144, 989, 654, 836,
       736, 190, 786, 979, 253,   0, 175, 635, 627,  70,  23, 845, 113,
       490, 252, 633, 923, 245, 423,   3,  94, 307, 787, 141, 885, 515,
       771, 911, 646, 416, 503, 479, 700, 246, 734,  29, 330, 660,  89,
       744, 266, 858, 309, 288, 510, 602, 562, 143, 380, 369, 848, 586,
       164, 319, 591, 533, 334, 718, 777, 570,   2, 954, 901,  95,  90,
       346, 800, 549, 242, 109, 451, 173, 629, 170, 728, 110, 547, 822,
       271, 983, 867, 282,  38, 361, 589, 388, 955, 516, 294, 168, 857,
       161, 679, 842, 935, 548, 513, 957,  10, 350, 425, 273, 717, 179,
       755, 160, 850, 947, 834, 105, 178, 770, 507, 265, 217, 615, 226,
       990, 511, 158, 458,  48, 258, 104, 689, 743, 623, 596, 649, 209,
        66, 658, 172, 222, 147, 219, 243, 138, 631, 281, 745, 213, 187,
        91, 943, 101, 370, 622, 550, 251, 225, 994, 385, 122, 482, 820,
       132, 951,  11, 671, 609, 537, 747, 871, 269, 417, 928, 365, 838,
       522, 524, 531,   8, 835, 289,  44, 340, 133, 696, 310, 148, 578,
       489, 673, 650, 567, 264, 884, 536, 285, 826, 108, 986, 659,  57,
        75, 384, 618, 134, 474, 877, 259, 392, 358, 953, 704, 694, 788,
       233,  21, 196, 456, 921, 327, 620,  24, 958, 286, 870, 150, 775,
       824, 408, 299, 493, 768, 433, 840, 714, 124, 735, 195,  77, 708,
       354, 260,  98, 504, 420, 680, 603, 165, 868, 931, 948, 754, 592,
        56, 783, 647, 874, 497, 437, 797])

In [51]:
type(x_train)

numpy.ndarray

In [49]:
train_set = df.iloc[x_train]

In [50]:
train_set

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
558,female,group B,associate's degree,free/reduced,none,53,70,70
682,male,group B,high school,standard,none,62,55,54
367,male,group C,bachelor's degree,free/reduced,none,61,66,61
50,male,group E,some college,standard,none,53,55,48
997,female,group C,high school,free/reduced,completed,59,71,65
...,...,...,...,...,...,...,...,...
647,female,group E,high school,free/reduced,none,64,62,68
874,female,group C,bachelor's degree,free/reduced,none,43,62,61
497,female,group D,some college,free/reduced,completed,59,78,76
437,male,group D,associate's degree,free/reduced,none,75,66,73
797,female,group E,associate's degree,free/reduced,none,70,84,81